@tailwind base;
@tailwind components;
@tailwind utilities;
/* globals.css */

/* Variables y reset */
:root {
  --primary-color: #ff3e3e;
  --background-dark: #1a1a1a;
  --background-darker: #0f0f0f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos globales para html y body */
html {
  font-family: system-ui, sans-serif;
  background: var(--background-darker);
}
